// contains user specific information that should not be shared
#ifndef SECRETS_H
#define SECRETS_H

// WiFi network name/SSID
const char* WIFI_SSID = "MyWiFiNetwork";
const char* WIFI_PASSWORD = "VerySecurePassword";

// PINs for water pump controller
const int WATER_PUMP_DIRECTION_PIN = 12;
const int WATER_PUMP_BRAKE_PIN = 9;
const int WATER_PUMP_POWER_PIN = 3;

#endif // SECRETS_H